{% extends "templates/default.njk" %}

{% block content %}
    <h1>{{ exercise.name }}</h1>

    <ol>
    {% for question in questions %}
        <li value="{{ question.questionNumber }}">
            <h2>{{ question.questionText }}</h2>
            {% if question.questionPicture %}
                <img src="data:image/png;base64,{{ question.questionPicture }}" alt="Question Image">
            {% endif %}
            <form>
                <h3>submit answer</h3>
                <textarea name="answer" rows="4" cols="50"></textarea>
                <input type="file" name="image" accept="image/png">
            </form>
            <h3>Chat</h3>
            {% for message in question.messages %}
                <p>{{message.dateTime}}: {{ message.username }}: {{ message.content }}</p>
            {% endfor %}
            <form action="./messages/add" method="POST">
                <input type="hidden" name="questionID" value="{{ question.questionID }}">
                <textarea name="newMessage" rows="4" cols="50"></textarea>
                <button type="submit">Send Message</button>
            </form>

        </li>

    {% endfor %}
    </ol>

    {% if user.isTeacher %}
        <li>
            <h2>Add a new question</h2>
            <form action="./questions/add" method="POST", enctype="multipart/form-data">
                <input type="text" name="questionText" placeholder="Question text">
                <input type="number" name="questionNumber" placeholder="Question number">
                <input type="file" name="questionImage" accept="image/png">
                <button type="submit">Add Question</button>
            </form>
        </li>
    {% endif %}
{% endblock %}
