{% extends "templates/default.njk" %}

{% block content %}
<form action="/auth/login" method="POST">
    <input required type="text" name="name" placeholder="Name">
    <input type="password" name="password" placeholder="Password">

    <input type="submit" value="Login">
</form>

<p>Not registered? <a href="/auth/register">Register</a>.</p>

{% if error %}
    <p class="error">{{ error }}</p>
{% endif %}
{% endblock %}
