{% block content %}
<form>
    <input required type="text" name="username" placeholder="Username">
    <input required type="password" name="password" placeholder="Password">

    <input type="submit" value="Login">
</form>
{% endblock %}
